$max-width: 57.75rem;
$recipes-font-size: 125%;

.profile-recipes--grid-container{
    margin-bottom: 2rem;
}

.tried-recipes-grid{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-gap: 1rem;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-width: $max-width;
    position: relative;
    margin: 0;
    row-gap: 4em;
    line-height: 1.5;
    font-size: $recipes-font-size;
}

.create-new-recipe-button{
    grid-column: auto/span 3;
    align-self: start;
    flex: 0 0 22%;
    cursor: pointer;
    color: #33319f;
    font-weight: 700;
    line-height: 1.3;
    background: none;
    border: none;
    padding: 0;
    position: relative;
    &::before{
        display: inline-block;
        width: 1px;
        content: "";
        height: 0;
        padding-bottom: 100%;
    }
}

.button-content{
    align-items: center;
    background-color: #faf5f0;
    border-radius: 0.75rem;
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    left: 0;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.button-icon{
    display: inline-block;
    border: 2px solid;
    border-radius: 50%;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: 700;
    line-height: 1.3;
}

.button-text{
    font: {
        weight: 500;
        family: 'TT commons medium';
    }
}

a{
    text-decoration: none;
    color: #33319f;
    &:hover{
        color: #33319f;
    }
}