*{
    padding: 0;
    margin: 0;
}

.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.register--wave-hand__center{
    margin: 0 auto;
    display: block;
}

.register-title{
    margin-top: 1rem;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "Lyon Text Web Semibold";
}

.register-paragraph__start{
    line-height: 1.75rem;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    margin-top: 2.25rem;
    font-weight: 400;
    color: rgba(33,33,33,1);
    font-family: "TT commons";

}

.registerForm-itemName{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "TT commons";
}

.register-form-button{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.75rem 1rem;
    border-radius: 9999px;
    background-color: rgba(20,95,72,1);
    color: rgba(255,245,234,1);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: "TT commons";
}

.placeholder{
    
    margin-top: 0.25rem;
    margin-bottom: 0;
}
